/* Основные стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body, html {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat";
    font-weight: 500;
    background-color: #c30b17;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    text-align: center;
}

.image_block1 {
    margin-top: 20px;
}

.image_block2 {
    margin-top: 15px;
    margin-bottom: 20px;
}

.image_container {
    width: 100%;
    margin-bottom: 10px;
}

img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 15px;
    border: 1.5px solid #fff;
}

.text_container {
    margin-bottom: 10px;
    font-size: 16px;
    color: #fff;
}

.buttons_container {
    display: flex;
    justify-content: center;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    color: #302b2b;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    font-weight: 600;
}

/* Стили для кнопок выбора языка */
.button_loc {
    width: 125px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    margin-top: 10px;
}

.button_loc img {
    width: 30px;
    height: 30px;
    border: 1px solid #c30b17;
    margin-right: 3px;
}

.language-buttons { 
    display: flex;
    gap: 3px;
}

/* Стили для модального окна */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-content {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-content h2 {
    margin-bottom: 20px;
    font-size: 18px;
}

.button_loc2 {
    width: 125px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    margin-top: 10px;
    border: 1px solid #c30b17;
    
}

.button_loc2 img {
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.buttons_loc2 {
    display: flex;
    gap: 3px;
}